[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
questionary = "*"
rich = "*"
sqlalchemy = "*"
pytest = "*"
sqlalchemy-utils = "*"
pytest-cov = "*"
psycopg2 = "*"
pyjwt = {extras = ["crypto"] }
python-dotenv = "*"
argparse = "*"
passlib = "*"
argon2-cffi = "*"
getchlib = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.11"
